@import './mixins';
@import '../../base/style.scss';
@import '../../base/variables';
@import '../../base/defaultstyle';

.quantity-section {
    margin-top: var(--unnamed-pixel-16);

    .count-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 80%;
        margin: var(--unnamed-pixel-16) auto;

        .icon-wrapper {
            cursor: pointer;
            border: var(--unnamed-border-solid);
            border-radius: 50%;
            width: var(--unnamed-pixel-32);
            height: var(--unnamed-pixel-32);

            display: flex;
            align-items: center;
            justify-content: center;
        }

        input {
            width: 150px;
            height: var(--unnamed-pixel-28);
            background: var(--white) 0 0 no-repeat padding-box;
            border: 2px solid var(--gray-m1);
            border-radius: 8px;
            color: var(--unnamed-color-172026);
            font: var(--unnamed-font-style-normal) normal 600 var(--unnamed-font-size-16)/var(--unnamed-line-spacing-20) var(--unnamed-font-family-muli);
            height: 40px;
            letter-spacing: .32px;
            margin: 0 12px;
            opacity: 1;
            text-align: center;
        }


        @include desktop {
            justify-content: flex-start !important;
            width: 100%;

            div {
                margin-right: var(--unnamed-pixel-16);
            }
        }
    }

    &.sm {
        .count-wrapper {
            .icon-wrapper {
                width: var(--unnamed-pixel-24);
                height: var(--unnamed-pixel-24);
            }
    
            input {
                width: 74px;
                height: var(--unnamed-pixel-24);  
            }
        }
    }
}