@import '../../../base/mixins';
@import '../../../base/style.scss';
@import '../../../base/variables';
@import '../../../base/defaultstyle';
.payment{
    .headline {
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-36)/var(--unnamed-line-spacing-45) var(--unnamed-font-family-source-serif-pro);
        font: normal normal 600 36px/45px Source Serif Pro;
        text-align: center;
        color: var(--unnamed-color-172026);
        margin: 10px 0;
    }

    .band {
        width: 102px;
        height: 8px;
        background: var(--primary-brand) 0% 0% no-repeat padding-box;
        margin: auto;
    }

    .sub-title {
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-24)/var(--unnamed-line-spacing-30) var(--unnamed-font-family-source-serif-pro);
        font: normal normal 600 24px/30px Source Serif Pro;
    }
    .summary {
        border: 1px solid #D1D3D6;
        padding: 25px;
        margin-bottom: 30px;

        h5 {
            font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-20)/var(--unnamed-line-spacing-30) var(--unnamed-font-family-muli);
            color: var(--unnamed-color-172026);
            font: normal normal 600 20px/30px Mulish;
            margin-bottom: 10px;
        }

        .pricing-details {
            div {
                display: flex;
                justify-content: space-between;
                margin-bottom: 10px;

                p {
                    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-24) var(--unnamed-font-family-muli);
                    font: normal normal normal 16px/24px Mulish;
                }

            }

            .btn-div {
                justify-content: center;

                button {
                    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-14)/16px var(--unnamed-font-family-muli);
                    font: normal normal bold 14px/16px Mulish;
                }
            }

            .pricing-total {
                p {
                    color: var(--unnamed-color-172026);
                    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-24) var(--unnamed-font-family-muli);
                    font: normal normal bold 16px/24px Mulish;
                }

            }
        }
        .link{
            color: $primary-brand;
        }
    }
    .payment-info{
        border-top: 1px solid #72777F;
        border-bottom: 1px solid #72777F;
        padding: 10px 0;
        margin: 10px 0;
    }
    .mobile-btn {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: center;
    }
    .input-div{
        width: 50%;
        p{
            color: var(--negative-2);
        }
    }
    .expiry-div{
        p{
            color: var(--negative-2);
        }
    }
    .cvv-div{
        p{
            color: var(--negative-2);
        }
    }
    input{
        border: 2px solid var(--gray-l2);
        border-radius: 8px;
        height: 38px;
    }
    input.btn-outline{
        border-color: var(--primary-brand);
    }
    .card-div{
        width: 50%;
        .expiry-div{
            width: 70%;
        }
        .cvv-div{
            width: 25%;
        }
    }
}